# Ignore local tmp output
tmp/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

.vscode/*
!.vscode/tasks.json
.idea/

# OS
.DS_Store

# Local env
.env

# Local env files
.env
.env.local
.env.txt
.env.*
# Tool cache
.cache/
# ignore local caches
.cache
